name: Deploy to Elastic Beanstalk

on:
  workflow_run:
    workflows: ["Build and Push to ECR"]
    types: [completed]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::339712863414:role/Github_actions
          aws-region: eu-west-1

      - name: Validate Dockerrun + Zip
        run: |
          set -euo pipefail
          ls -la
          # ensure exact casing and file exists at repo root
          test -f Dockerrun.aws.json

          echo "---- Dockerrun.aws.json ----"
          cat Dockerrun.aws.json
          echo "----------------------------"

          # simple validation: must contain AWSEBDockerrunVersion
          grep -q '"AWSEBDockerrunVersion"' Dockerrun.aws.json

          zip -r deploy.zip Dockerrun.aws.json

          echo "---- ZIP CONTENTS ----"
          unzip -l deploy.zip
          echo "----------------------"


      - name: Upload to S3
        run: |
          S3_BUCKET="elasticbeanstalk-eu-west-1-339712863414"
          S3_KEY="catalogservice/deploy-${{ github.sha }}.zip"
          aws s3 cp deploy.zip "s3://${S3_BUCKET}/${S3_KEY}"
          echo "S3_BUCKET=${S3_BUCKET}" >> $GITHUB_ENV
          echo "S3_KEY=${S3_KEY}" >> $GITHUB_ENV

      - name: Create EB version
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name "catalogservice" \
            --version-label "v-${{ github.run_number }}" \
            --source-bundle S3Bucket=${{ env.S3_BUCKET }},S3Key=${{ env.S3_KEY }}

      - name: Deploy to EB
        run: |
          aws elasticbeanstalk update-environment \
            --environment-name "Catalogservice-env-1" \
            --version-label "v-${{ github.run_number }}"
